.wrapper {
  background-image: url("../../../assets/images/banner3.png");
  background-size: 100% 100%;
  background-repeat: space;
  background-position: center;
  height: 107.3rem;
  display: flex;
  flex-direction: column;
}

.bestproduct {
  color: #f96400;
  padding-top: 15rem;
  &__title {
    font-size: 5rem;
    font-family: "monBold";

    letter-spacing: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 3.7rem;
    margin-bottom: 5rem;
  }
  &__text {
    font-size: 2rem;
    height: 5.2rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  &__item {
    position: relative;
  }
  &__production {
    position: absolute;
    width: 9.2rem;
    height: 9.2rem;
    top: -8.5%;
    left: -0.5%;
  }
  &__optimized {
    position: absolute;
    width: 37.6rem;
    height: 7.9rem;
    display: flex;
    border: solid 0.3rem #020001;
    background-color: #fff;
    padding: 0rem 0.8rem 0rem 2.7rem;
    align-items: center;
    left: 14%;
    bottom: -9%;
    &__text {
      font-size: 2rem;
      color: #222;
      font-family: "mon800";
      line-height: 1.25;
      width: 19rem;
      margin-right: 8rem;
    }
    &__icon {
      width: 6.5rem;
      height: 6.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: 100%;
    padding-bottom: 7rem;
    &__col:nth-child(1),
    &__col:nth-child(3) {
    }
    &__col:nth-child(2) {
    }

    &__grid {
      display: flex;
    }
  }

  .bestproduct {
    padding-top: 3rem;
    margin-bottom: 3rem;
    &__text {
      font-size: 1.4rem;
      margin-bottom: 5rem;
    }
    &__box {
      display: flex;
      flex-direction: column;
      gap: 5rem;
    }
    &__production {
      width: 7rem;
      height: 7rem;
      left: -6.5%;
    }
    &__col {
      display: flex;
    }
    &__title {
      font-size: 2rem;
      margin-bottom: 3rem;
    }

    &__optimized {
      width: 90%;
      left: 5%;
      &__text {
        font-size: 1.4rem;
        margin-right: 2rem;
      }
    }
  }
}
