.wrapper {
  padding: 16rem 0 14rem 0;
  background: #fccb05;
  position: relative;
}
.happened {
  &__grid {
  }
  &__issue {
    color: #110e03;
    margin-bottom: 5.5rem;
  }
  &__item1 {
    position: relative;
    background: #ff5500;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 8.7rem;
    overflow: visible;
    border-bottom: solid 0.3rem #111;
    border-top: solid 0.3rem #111;

    & p {
      padding: 0 9.4rem;
      line-height: 1.04;
      margin-bottom: 6rem;
      font-size: 5.5rem;
      font-family: "mon800";
      text-transform: uppercase;
      color: #110e03;
      width: fit-content;
    }
    & img {
      width: 38%;
    }
    &__obj {
      position: absolute;
      bottom: -15%;
      right: -5%;
      z-index: 2;
    }
  }
  &__item {
    background: #110e03;
    border-bottom: solid 0.3rem #111;
    border-top: solid 0.3rem #111;
    & .brand {
      &__tag {
        & p {
          color: #fff;
          font-size: 3rem;
          font-family: "mon800";
          line-height: 2.2rem;
          text-transform: uppercase;
          text-align: center;
        }
        padding: 2.7rem 0;
      }

      &__img {
        & img {
          height: 40.5rem;
        }
        &__obj4 {
          position: absolute;
          width: 30%;
          top: -3%;
          left: 5%;
        }
        &__obj5 {
          position: absolute;
          width: 7%;
          z-index: 2;
          bottom: 8%;
          right: 18%;
        }
      }
    }
    &:nth-child(4) {
      background: #ff5500 !important;
    }
  }
}
.button__bottom {
  display: flex;
  justify-content: center;
  margin-bottom: 13rem;
  & a {
    background: transparent;
  }
}

.newobj {
  position: absolute;
  right: 3%;
  top: 8%;
  &__32 {
    width: 80%;
    margin-bottom: 2.5rem;
  }
  &__2 {
  }
}

.brand {
  &__tag {
    &__obj4 {
      position: relative;
    }
    &__obj5 {
      position: relative;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 5rem 2rem;
  }
  .newobj {
    display: none !important;
  }
  .happened {
    &__grid {
      display: flex !important;
      flex-direction: column;
      gap: 5rem;
    }
    &__item1 {
      padding-bottom: 8.7rem;
      border: solid 0.3rem #111;

      &__obj {
        display: none !important;
      }
    }
    &__item {
      border: solid 0.3rem #111;
    }
  }
  .brand {
    &__tag {
      &__obj {
      }
    }
    &__img {
      &__obj4,
      &__obj5 {
        display: none !important;
      }
    }
  }
  .button__bottom {
    margin-bottom: 7rem;
  }
}
