.wrapper {
  padding: 14.2rem 0;
}
.button {
  &__bottom {
    margin-top: 12rem;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .productlist {
    &__grid {
      display: flex;
      flex-direction: column;
    }
  }
}
