.wrapper {
  padding: 14.2rem 0;
}
.button {
  &__bottom {
    margin-top: 12rem;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 7rem 2rem;
  }
  .productlist {
    display: flex !important;
    flex-direction: column;
    &__grid {
      display: flex !important;
      flex-direction: column;
    }
  }
  .button {
    &__bottom {
      margin-top: 4rem;
    }
  }
}
