.brand {
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    & p {
      font-family: "monBold";
      font-size: 4.5rem;
      letter-spacing: 0.45rem;
      text-align: center;
      text-transform: uppercase;
      line-height: 10rem;
      height: 3.4rem;
    }
    & span {
      margin-top: 4rem;
      line-height: 1.41;
      text-align: center;
    }
  }
}

.sup {
  &KR {
    font-family: "nato";
    width: 68.2rem;
    font-size: 1.6rem;
  }
  &EN {
    font-family: "mon300";
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 768px) {
  .brand {
    &__title {
      & p {
        font-size: 2rem;

        line-height: 1;
      }
      & span {
        margin-top: 2rem;
        line-height: 1;
        text-align: center;
      }
    }
  }

  .sup {
    &KR,
    &EN {
      width: 100%;
      font-size: 1.4rem;
    }
  }
}
